body{  
color: burlywood;
background: brown;
}

header {
    border-bottom: solid 2px rgb(248, 10, 6);
    padding: 20px;
    font-size: 32px;
    color: black;
    background: #694365;
}

.chamada {
    background: rgb(255, 196, 196);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin: right 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 100px;
}
.categorias_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}


